version: '3.9'

services:
  database:
    image: postgres:15
    container_name: saas_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Postgres@123
      POSTGRES_DB: saas_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: saas_backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - database
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: saas_frontend
    restart: always
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  pgdata:
